/* CSS Document */

#photoContainer{
	
}

.playerPhoto{
	width : 250px; 
	height: 320px; 
}


#photoContainer{
	position: fixed;
	top : 400px; 
	left : 200px;
}

/*

.driverPhoto{
	position: fixed;
	top : 350px; 
	left : 110px; 
}


.hill1Photo{
	position: fixed;
	top : 350px; 
	left : 370px; 
}

.hill2Photo{
	position: fixed;
	top : 350px; 
	left : 630px;
}

.hill3Photo{
	position: fixed;
	top : 350px; 
	left : 890px; 
}

.hill4Photo{
	position: fixed;
	top : 350px; 
	left : 1150px; 
}

.hill5Photo{
	position: fixed;
	top : 350px; 
	left : 1410px; 
}

*/

.backgroundPhoto{
	position: fixed;
	top : 0px; 
	left : 0px; 
	height : 1080px; 
	width  : 1920px; 
}

#teamLineup{
	position: fixed;
	top : 0px; 
	left : 400px; 
}


#teamName{
	position: fixed;
	top : 120px; 
	left : 400px; 
	padding-top:  1px;
}

#heatDisplayTitle{
	position: fixed;
	top : 0px; 
	left : 1000px; 
}


.teamName{
	z-index: 10;
	font-family: 'Ropa Sans', sans-serif;
	color: white;
	font-size: 100px;
	background-color: rgba(47,47,47,1.00);
	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left : 5px;
	padding-right : 5px;

}
